<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

    <title th:text="${title}"></title>
</head>
<body>
<!-- navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}"><span class="text-primary">Contact</span> <span class="text-danger">M</span>anager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto text-uppercase">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><span th:text="${user.name}"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--end of navbar-->
<div class="sidebar mt-2">
    <span onclick="toggleBtn()" class="crossBtn">&times;</span>
    <a href="#" class="item"><i class="fa fa-home mr-2"></i> Home</a>
    <a th:href="@{/user/show-contacts/0}" class="item"> <i class="fa fa-id-card-alt mr-2"></i>View Contacts</a>
    <a th:href="@{/user/add-contact}" class="item"> <i class="fas fa-pencil-alt mr-2"></i>Add Contacts</a>
    <a href="#" class="item"><i class="fas fa-user-circle mr-2"></i>My Profile</a>
    <a th:href="@{/logout}" class="item"><i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
</div>

<div class="content mt-5">
    <span><i onclick="toggleBtn()" class="fa fa-bars m-3"></i></span>
    <div th:replace="${content}"></div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script th:src="@{/js/index.js}"></script>
</script>
</body>
</html>