<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<section>
    <div class="text-center mt-5">
        <h3>Welcome to Contact manager,This is User dashboard page!</h3>
        <p>and making a lot of fun by doing new things and its a plesure to be with us bangla airlilnes</p>
        <button class="btn btn-primary">Get Started</button>
    </div>
</section>

</body>
</html>